body {font-family: 'Roboto', sans-serif;font-size: 24px;color:#505a5e;}
h1,.h1{font-size: 32px;}
h2,.h2{font-size: 30px;}
h3,.h3{font-size: 28px;}
.font32{
    font-size: 32px;
}
.tenposs-readmore{
    font-size: 32px;
    background: #e2f8f8;
    color: #14c8c8;
    width: 100%;
    margin-top: 46px;
    margin-bottom: 35px;
    display: block;
    line-height: 76px;
}
@media screen and (max-width: 479px){
    .tenposs-readmore{
        font-size:24px;
        line-height: 35px;
    }
}
.tenposs-button{
    display: block;
    font-size: 24px;
    background: #14c8c8;
    color: #fff;
    width: 100%;
    margin-top: 46px;
    margin-bottom: 35px;
    display: block;
    line-height: 50px;
    position:relative;
}
@media screen and (max-width:479px){
    .tenposs-button{
        white-space: inherit;
        line-height: 26px;
        font-size:14px;
    }
}

.wrap{
    max-width: 768px;
    width:100%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}
.container-fluid{
    padding: 0 20px;
}
.row{
    margin: 0 -10px;
}
#page{
    max-width: 750px;
    margin:0 auto;
    overflow: hidden;
    position:relative;
    left:0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
#page.active-scrollbar{
    /*margin-left: 560px;*/
    left: 560px;
}
@media screen and (max-width:479px){
    #page.active-scrollbar{
        left: 250px;
    }
}
.overfog{
    position: fixed;
    left: 0;
}
#page.active-scrollbar .overfog{
    left: 560px;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
@media screen and (max-width:479px){
    #page.active-scrollbar .overfog{
        left:250px;
    }
}
/* Header */
#header h1{
    margin: 20px 0;
}
@media screen and (max-width:479px){
    #header h1{
        font-size:22px;
    }
}
#header,#below-header{
    position: relative;
    border-bottom: 1px solid #eee;
}
#header img{
    position: absolute;
    padding: 10px;
    bottom: 18px;
    left: 10px;
}
@media screen and (max-width:479px){
    #header img{
        transform:scale(0.7);
        -webkit-transform:scale(0.7);
        -moz-transform:scale(0.7);
        bottom: 10px;
    }
    
}
#below-header .h_back-arrow img{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
/* Main */
/* Content */
#content h2{
    margin: 40px 0 26px;
}
@media screen and (max-width:479px){
    #content h2{
        font-size:24px;
    }
}
/* item product */

.item-product{
    padding: 0 10px;
    float: left;
    width: 50%;
    margin-top: 20px;
}
.item-product img{
    border: 1px solid #eee;
    border-radius: 4px;
}
.item-product p{
    color: #646e72;
    margin: 20px 0 10px;
}
@media screen and (max-width:479px){
    .item-product p{
        font-size:18px;
    }
}
.item-product span{
    color: #646e72;
    margin: 10px 0 20px;
    display: block;
}
@media screen and (max-width:479px){
    .item-product span{
        font-size:16px;
    }
}
.item-product:nth-child(2n+1){
    clear: both;
}
/* item Photogallery */

.item-photogallery{
    padding: 0 10px;
    float: left;
    width: 33.33333333%;
    margin-top: 20px;
}
.item-photogallery img{
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 1px 1px 2px #ddd;
    -moz-box-shadow: 0 2px 2px #ddd;
}
.item-coupon{
    margin-top: 20px;
}
/* image coupon */
.item-coupon .image{
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 1px 1px 2px #ddd;
    -moz-box-shadow: 0 2px 2px #ddd;
}
.item-coupon img{
    max-width: 220px;
    width:100%;
    height: 220px;
}
@media screen and (max-width:479px){
    .item-coupon img{
        height:100px;
        max-width:100px;
    }
}
/* info coupon */
.item-coupon a{
    display: block;
    margin: 20px 0 5px;
}
@media screen and (max-width:479px){
    .item-coupon a{
        font-size:16px;
    }

}
.item-coupon h3{
    color: #505a5e;
    margin: 20px 0 10px;
}
@media screen and (max-width:479px){
    .item-coupon h3{
        font-size:18px;
    }
}
.item-coupon p{
    color: #96a0a4;
    margin-bottom: 10px;
    max-height: 100px;
    overflow: hidden;
}
@media screen and (max-width:479px){
   .item-coupon p{
    font-size:14px;
   }
}

/* Contact */
#contact ul{
    list-style: none;
    padding-left:15px;
    padding-right:15px;
}
#contact li{
    border-bottom: 1px solid #eee;
}
#contact li div.table{
    display: table;
    width:100%;
    margin-bottom: 0;
}

#contact li div.table-cell{
    height: 127px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    clear: both;
}
#contact li div.table-cell .left-table-cell{
    width:20%;
    display:inline-block;
    vertical-align: middle;
}
#contact li div.table-cell .right-table-cell{
    display:inline-block;
    width:75%;
    vertical-align: middle;
}
@media screen and (max-width:479px){
    #contact li div.table-cell{
        font-size:16px;
    }
}
#contact li div.table-cell img{
    /*margin-right: 40px;*/
}
/* Side */

/*
 *  STYLE 1
 */

#side::-webkit-scrollbar-track
{
    background-color: #32465a;
}

#side::-webkit-scrollbar
{
    width: 6px;
    background-color: #32465a;
}
#side::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ababab;
}

#side{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -560px;
    width: 560px;
    background: #000;
    color: #fff;
    background: #32465a;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    overflow-y: scroll;
}
@media screen and (max-width:479px){
    #side{
        left:-250px;
        width:250px;
    }
}
.active-scrollbar #side{
    left: 0;
}
#side img{
    width: 100px;
    border: 2px solid #ddd;
}
#side .h_side{
    padding: 70px 0 70px 30px;
    line-height: 100px;
}
@media screen and (max-width:479px){
    #side .h_side{
        padding:30px 0 30px 30px;
    }
    #side .h_side .imageleft .image{
        width:30%;
        margin-right:10px;
    }
    #side .h_side .imageleft p.font32{
        font-size:14px;
        line-height: 32px;
        width:65%;
        float:left;
        margin-top:30px;
    }
    #side img{
        max-width:100%;
    }
}

/*--------------------*/
#side .s_nav{
    list-style: none;
    padding: 0;
    margin: 0;
}
#side .s_nav li{
    padding:30px 0 30px 90px;
    position:relative;
}
#side .s_nav li:before{
    content: '';
    position:absolute;
    display:block;
    width:38px;
    height:38px;
    background:url('../img/icon/s_icon.png')no-repeat;
    left:30px;
    top:50%;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
#side .s_nav li a {
    /*height: 100px;
    line-height: 100px;*/
    display: block;
    width: 100%;
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
}
#side .s_nav li a span{
    font-size: 30px;
    padding-left: 100px;
    margin-right: 20px;
    display: inline-block;
}

#side .s_nav li:hover,#side .s_nav li.active{
   background:#646e72;
}
#side .s_nav li.ti-home:before{background-position:0px -30px;}
#side .s_nav li.ti-comments:before{background-position: 0px -730px;}
#side .s_nav li.ti-user:before{background-position: 0px -530px;}
#side .s_nav li.ti-medall:before{background-position: 0px -630px;}
#side .s_nav li.ti-settings:before{background-position: 0px -830px;}
#side .s_nav li.ti-menu-alt:before{background-position: 0px -130px;}
#side .s_nav li.ti-alarm-clock:before{background-position: 0px -230px;}
#side .s_nav li.ti-rss:before{background-position: 0px -330px;}
#side .s_nav li.ti-gallery:before{background-position: 0px -430px;}
#side .s_nav li.ti-unlock:before{background-position: 0px -930px;}
/*--------------------*/

/* Footer */
#footer{
    margin-top: 40px;
}
#footer .tenposs-button{
    margin: 10px 0 40px;
}
/**/


/*LOGIN NORMAL*/
.form-login-normal{
    padding:0 15px;
    margin-top:30px;
}
.form-login-normal input{
    font-size:14px;
}
.form-login-normal button.btn-login{
    font-size:14px;
    background: #14c8c8;
    color: #fff;
    width: 100%;
    padding:10px 0;
}