/* Category */
#category {
    border-bottom: 1px solid #eee;
}

#category .swiper-slide {
    padding: 40px 0;
    text-align: center;
    font-size: 24px;
}

#category .swiper-button-next, #category .swiper-button-prev {
    background-size: 15px 44px;
}

#category .swiper-button-prev {
    left: 5%;
}

#category .swiper-button-next {
    right: 5%;
}

/* Coupon Detail */


.notication {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    text-align: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.notication .noti_inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notication .noti_inside p {
    color: #fff;
}
.wrap-coupon-detail{
    padding:40px 30px 50px;
}
.wrap-coupon-detail .infodetail{
    padding:0px 20px  ;
    margin-bottom:70px;
}

.wrap-coupon-detail .form-mail {
    padding-bottom:75px;
    border-bottom:1px solid #ccc;
}
@media screen and (max-width:479px){
    .wrap-coupon-detail.form-mail{
         margin: 30px 0 10px;
    }
}

.wrap-coupon-detail .form-mail .input-group{
    border:none;
}
.wrap-coupon-detail .form-mail .form-control {
    font-size: 24px;
    line-height: 70px;
    height: 70px;
    background:#f4f4f4;
    border:none;

}
@media screen and (max-width: 479px){
    .wrap-coupon-detail .form-mail .form-control{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
}

.wrap-coupon-detail .form-mail .input-group-addon {
    font-size: 24px;
    min-width: 160px;
    text-align: center;
    background: #14c8c8;
    color: #fff;
    border:none;
}

@media screen and (max-width:479px){
     .wrap-coupon-detail .form-mail .input-group-addon {
        font-size:18px;
        min-width: auto;
    }
}
.wrap-coupon-detail .form-mail a {
    color: #fff;
}
.wrap-coupon-detail .entrydetail{
    padding:15px 20px;
}


.infodetail {
    padding: 40px 30px;
}

@media screen and (max-width:479px){
    .infodetail, .entrydetail {
        padding:20px 0;
        font-size:16px;
    }
    .infodetail, .entrydetail p{
        font-size:16px;
    }
}

.infodetail {
    /*border-bottom: 1px solid #ddd;*/
    position: relative;
}
.infodetail h3.title-coupon {
    margin:0;
    margin-bottom:10px;
}

.infodetail .wrap-title-detail h3 {
    margin:0;
    width:70%;
    display:inline-block;
    vertical-align: middle;
}

.infodetail p span {
    color: #96a0a4;
}

.infodetail .dateadd {
    color: red;
}

/*.wrap-title-detail .infodetail .news-dateadd {
    position: absolute;
    top: 83px;
    right: 20px;
    color: #96a0a4;
}*/

.infodetail .wrap-title-detail .news-dateadd{
    display:inline-block;
    width:29%;
    vertical-align: top;
    color: #96a0a4;
    text-align: right;
}

@media screen and (max-width:479px){
    .infodetail .wrap-title-detail h3 {
        width:63%;
        font-size:16px;
        margin:0;
    }
    .infodetail .wrap-title-detail .news-dateadd{
        font-size:12px;
        width:35%;
        vertical-align: top;
    }
}



#below-content {
    padding-bottom: 100px;
    width: 100%;
    position: relative;
}

#below-content p {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #14c8c8;
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    z-index: 999;
}

#below-content p span {
    font-size: 16px;
}

#below-content-disable{
    width:100%;
    position:relative;
}

#below-content-disable p {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #ccc;
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    z-index: 999;
}
@media screen and (max-width:479px){
    #below-content-disable p{
        font-size:14px;
    }
}


/*#page, #below-content-disable, #below-content-disable p {
    width: inherit;
}*/

#page, #below-content, #below-content p {
    width: inherit;
}

/*.image_size_detail {
    width: 1024px;
    height: 1024px;
}*/