.bg-fb{
    background-color: #3b5998 !important;
}

.bg-tw{
    background-color: #4da8e0 !important;
}
.bg-mail{
    background-color: #14c8c8 !important;
}
.bg-transparent{
    background-color: rgba(255,255,255,0.3) !important;
}

#chat{
    width: 100%;
    padding-top: 30%;
    text-align: center;
}
#reserve{
    text-align: center;
    padding-top: 265px;
}
.maps{
    width: 100%;
    height: 200px;
}
#sign-up-page{
    position: relative;
    background-image: url('../img/korean-fashion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-layout{
    padding: 0 100px;
    position: absolute;
    width: 100%;
    bottom: 20px;

    
}
.btn_upload_img.create {
    width: 100%;
    padding: 10px;
    border: solid 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #434b4e;
    color: white;
}
.input-xl{
    height: 90px;
    padding: 10px 16px;
    font-size: 30px;
    line-height: 80px;
    border-radius: 6px;
}