/* Category */
#category {
    border-bottom: 1px solid #eee;
}

#category .swiper-slide {
    padding: 40px 0;
    text-align: center;
    font-size: 24px;
}

#category .swiper-button-next, #category .swiper-button-prev {
    background-size: 15px 44px;
}

#category .swiper-button-prev {
    left: 5%;
}

#category .swiper-button-next {
    right: 5%;
}

/* Menu detail */
.wrap-menu-detail{
    padding:40px 30px 40px;
}

.info-productdetail {
    padding:0 20px;
    margin-bottom:80px;
    position: relative;
}



.info-productdetail .wrap-title-price p {
    display:inline-block;
    width:60%;
    margin:0;
    text-transform: uppercase;
}
.info-productdetail .wrap-title-price span.price{
    display: inline-block;
    width: 35%;
    text-align: right;
    font-weight: bold;
    font-size: 36px;
    color: red;
}

.info-productdetail span {
    color: #96a0a4;
}



@media screen and (max-width:479px){
    .info-productdetail{
        margin-bottom: 40px;
    }
    .info-productdetail .wrap-title-price p{
        font-size:14px;
    }
    .info-productdetail .wrap-title-price span.price{
        font-size:12px;
    }
    .info-productdetail > span{
        font-size:14px;
    }
}
.entry-productdetail {
    border-top: 1px solid #ddd;
    padding: 30px 0 0;
}

.entry-productdetail .option {
    background: #f8f8fa;
    padding: 10px;
    border-radius: 4px;
    /*margin-bottom: 50px;*/
}

/*UPDATE LIEM 13-10-2016*/
.entry-productdetail .option .nav-switch{
    margin:0;
    padding:0;
}
.entry-productdetail .option .nav-switch li{
    display:inline-block;
    width:48%;
    padding:20px 0;
    border-radius:3px;
}
.entry-productdetail .option .nav-switch li a{
    display:block;
    font-size:20px;
    color:#96a0a4;
    text-align: center;
}
.entry-productdetail .option .nav-switch li:hover, .entry-productdetail .option .nav-switch li.active{
    border:1px solid #eee;
    background:#fff;
}
.entry-productdetail .option .nav-switch li:hover a, .entry-productdetail .option .nav-switch li.active a{
    color:#14c8c8;
}
@media screen and (max-width:479px){
    .entry-productdetail .option .nav-switch li{
        padding:10px 0;
    }
    .entry-productdetail .option .nav-switch li a{
        font-size:16px;
    }
}
.entry-productdetail p {
    text-align: justify;
}
.entry-productdetail .content-staffDetail{
    padding:10px 0;
}
.entry-productdetail .content-staffDetail p.title-staff{
    font-size:24px;
    padding:5px 0;
}
.tab-content .tab-pane{
    font-size:14px;
    padding:0 20px;
}
@media screen and (max-width:479px){
    .entry-productdetail .content-staffDetail p.title-staff{
        font-size:16px;
    }
    .tab-content .tab-pane{
        font-size:14px;
    }
}


/*.entry-productdetail .option span {
    padding: 22px 10px;
    display: inline-block;
    margin-right: 20px;
    width: 332px;
    font-size: 24px;
}

.entry-productdetail .option span:last-child {
    margin-right: 0;
}*/

.entry-productdetail .option span.switch-on {
    background: #fff;
    border: 1px solid #eee;
    color: #14c8c8;
}

#related {
    border-top: 30px solid #f8f8fa;
}

#myTab li {
    width: 50%;
    text-align: center;
    border: 0;
}

#myTab li.active a {
    border: 0;
}

#myTab {
    border: 0;
}
@media screen and (max-width:479px){
    #myTab li a{
        font-size:14px;
    }
}

.image_size {
    max-width:100%;
    /*width: 354px;*/
    /*height: 354px;*/
}
/*
.image_size_detail {
    width: 1024px;
    height: 1024px;
}*/