/* Category */
#category{
    border-bottom: 1px solid #eee;
}
#category .swiper-slide{
    padding: 40px 0;
    text-align: center;
    font-size: 24px;
}
@media screen and (max-width:479px){
	#category .swiper-slide{
		font-size:20px;
	}
}
#category .swiper-button-next,#category .swiper-button-prev{
    background-size: 15px 44px;
}
#category .swiper-button-prev{
    left: 5%;
}
#category .swiper-button-next{
    right: 5%;
}